@media (max-width: 575.98px) {

    .hero{
        display: none;
    }
    .s2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
  /* aboutus home images */
     .s2 {
         flex-direction: column;
     }
     .s2-col1, .s2-col2, .s2-col3{
        width: 90%;
     }
     .s2-img .s2-image1, .s2-image2{
        height: 380px;
     }
     .s2-col2{
        margin: 0px;
     }
     .s2-content{
        padding: 200px 10px;
     }
  /* aboutus home images */
  /* instagram gallery images */
 
    .s3-gallery {
        flex-direction: column;
    }
    .s3-gallery .s3-gal1 .s3-gal1-img {
        width: 355px;
    }
    .s3-gallery .s3-gal1,.s3-gal2 {
        width: 100% !important;
    }
    .s3sub-img1 {
        justify-content: space-evenly;
    }
    .s3sub-img1 img {
        width: 178px;
    }
    .s3-gallery .s3-gal1 {
        margin: 0px; 
    }
    .s3-gallery .s3-gal2 .s3-gal1-img {
        width: 355px;
    }
    .s3-gallery .s3-gal2 {
        margin: 0px;
    }
/* instagram gallery images */
 /* instagram */

    .follow-insta h2 {
      font-size: 25px;
    }
    .section-five {
        
        padding: 121px 0px !important;
        
    }
    .insta-img img{
        width: 60px;
    }
 /* instagram */

 /* testimonail */
    .myslides {
        margin: 30px 15px;
    }
    .comma-one {
        left: 30px;
    }
    .comma-two {
        right: 30px;
    }
    .testimonial p {
        padding: 0px;
    }
 /* testimonail */
 /* footer */

  .footer-sec {
    flex-direction: column;
  }
  .f1-col p {
    font-size: 28px;
  }
  .footer-sec .f1-col {
    width: 100%;
  }
 /* footer */
}