@media screen and (min-height: 425px) {
 
    .section-two, .container{
      display: none;
    }
    body{
      background: bisque;
    }
    .nobile{
      display: block;
     justify-content: center;
    text-align: center;
    position: relative;
    top: 300px;
    border: 1px solid rgb(255, 166, 0);
    }
    .nobile h1{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-shadow: 2px 2px rgb(109, 129, 216);
    }
  }
  /* .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;} */