

@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #fff9f7;
    color: #84795d;
  }
  
  /* header */
  
  .navigation{
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    z-index: 999;
  }
  .logo{
    text-align: center;
  }
  .logo h1{
    font-family: cursive;
    padding-left:30px;
    margin: 10px 0px;
    text-align: center;
    color: rgb(17, 15, 15);
    text-shadow: 2px 2px #640a16f5;
  
  }
  .menu ul{
    display:inline-flex;
    list-style: none;
    text-transform: uppercase;
  }
  .menu ul li a{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right:25px;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.7ch;
    padding-left: 50px;
    line-height: 2;
    color:#fff;
  }
  .menu ul li a:hover{
    color: #640a16f5;
    transition: 3s;
  }
  
  /* header */

  /* hero section starts */

  .hero{
    min-height: 100vh;
    display: flex;
  }
  .col-1{
    padding:0px;
  }
  .col-1 img{
    width: 450px;
    height: 700px;
    object-fit: cover;
    padding: 0px;
    filter: grayscale(30%);
  }
  .col-2{
    padding-top: 20px;
    background: url(./images/My\ project\ \(15\).png);
    background-position:  0%;
    background-size: 73vw auto;
    background-repeat: no-repeat;
  }
  .col-2 .logo img{
    width: 120px;
    height: 90px;
    object-fit: contain;
    
  }
  .col-2 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    margin: 0px;
  }
  .col-2 h2{
    margin: 5px 0px;

    color: #84795d;
    font-size:70px;
    font-weight: 400;
    font-family: sail;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 0.8;
  }
  .col-2 p{
    margin-top: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 160px;
  }
  .two-images{
    display: flex;
    align-items: center;
    padding-left: 60px;
  }
  .two-images .image1{
    align-items: center;
    width: 200px;
    height: 230px;
    margin-left: 30px; 
    border-radius: 10% 10%;
    object-fit: cover;
    border: 3px solid rgb(224, 224, 224);
  }
  .two-images .image2{
    align-items: center;
    width: 200px;
    height: 230px;
    margin-top: 120px;
    margin-left: 40px; 
    border-radius: 10% 10%;
    filter: sepia(40%);
    object-fit: cover;
    border: 3px solid rgb(201, 199, 199);
  }
  /* hero section ends */

  /* section two starts */

    .section-two,.section-three,.section-four{
      padding: 130px 0px;
      background: #fff6f2;
      text-align: center;
    }
    #sec-head{
      font-family: sail;
      font-size: 50px;
      font-weight: 300;
      margin: 10px;
      padding-bottom: 30px;
    }
    .s2{
      display: flex;
      justify-content: space-around;
    }
    .s2-col1,.s2-col2,.s2-col3{
      width: 33.33%;
      padding: 20px 20px;
    }
    .s2-img .s2-image1,.s2-image2{
      object-fit: cover;
      overflow: hidden;
      width: 100%;
      height: 440px;
      padding-bottom: 40px;
    }

    .s2-col2{
      background: url(./images/banner44.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-repeat:no-repeat;
      image-resolution:initial;
      margin:  20px 20px;
    }
   .s2-content{
    color:#fff;
    background: #ffffff65;
    padding: 340px 50px;
    margin: 0px;
   } 
  /* section two ends */


  /* section three starts */

  .section-three{
    padding: 100px 0px;
    background: #fff;
    text-align: center;
  }
  .s3-gallery{
    display: flex;
    width: 100%;
    overflow-x: hidden;
  }
  .s3-gallery .s3-gal1{
  width: 33.33%;
  margin:  20px;
  }
  .s3-gallery .s3-gal2{
    width: 33.33%;
    margin:20px 10px;
  }
  .s3-gallery .s3-gal2 .s3-gal1-img{
    width:400px;
  }
  .s3-gallery .s3-gal1 .s3-gal1-img{
    width:400px;
  }
  .s3sub-img1{
    display: flex;
    justify-content: space-around;
    }
  .s3sub-img1 img {
    width: 46%;
    margin: 20px 0px;
  }
  
  /* section three ends */

  /* section-four-starts */

  .s4-shop{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
  }
  .s4-shop .s4-img{
    width: 33.33%;
    
    margin: 30px;
    padding-bottom: 20px;
    border-radius:5% ;
    box-shadow: inset 0 -3em 3em #84795d17, 0 0 0 2px #e6e6e6,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .s4-img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  /* section four ends */


  /* footer */
  footer{
    width: 100%;
  }
  .footer-sec{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

  }
  .footer-logo img{
    width: 200px;
  }
  .social-media-footer{
    display: flex;
    list-style: none;
    text-align: left;
  }
  .social-media-footer li{
   padding: 10px;
   align-items: center;
   text-align: center;
  }
  /* footer */



