@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,500;0,600;0,800;1,400;1,500;1,600&display=swap');
 


body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #fff9f7;
  /* color: #84795d#a79362; */
  color: #84795d;
}
  
#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 20px 20px 37px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #a79362;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0px 44px 0px 0px;
  text-align: end;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  right: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #a79362, #a79362);
  border-top-left-radius: 62%;
  border-bottom-left-radius: 52%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);

}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 300px;
  height: 460px;
  transform: translate(0%,-32%);
  overflow: hidden;
}


/* hamburger emded */
/* @media (min-width: 1030px) { */

/* BUTTON START  */
.noselect {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.noselect {

    cursor: pointer;
    background: rgb(255 249 247);
    border: none;
    /* border-radius: 10px; */
    box-shadow: 0px 10px 25px rgb(255 233 226), 0px 0px 25px rgb(255 255 255), inset 0px -5px 10px rgb(255 220 195), inset 0px 5px 10px #ffdda6;
    font-family: roboto;
    color: rgb(240 173 151);
    font-size: 20px;
    margin-top: 30px;
    transition: 500ms;
    padding: 12px 20px;
}
.noselect a{
  text-decoration: none;
}

.noselect:hover {	
	animation: hueRotation 2s linear infinite;
}

@keyframes hueRotation {
	to {filter: hue-rotate(360deg);}
}

.noselect:focus {
	outline: none;
}
.play-btn {
  width: 80px;
  height: 80px;
  background: rgb(255 205 170);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 50px 0px 0px 35px;
  box-shadow: 0px 0px 25px 3px rgb(213 174 116 / 80%);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

/* BUTTON END  */

/* header */
  
 
  
  .logo{
    text-align: center;
  }
  
  
  /* header */

  /* hero section starts */

  .hero{
    min-height: 100vh;
    display: flex;
  }
  .col-1{
    padding:0px;
  }
  .col-1 img{
    width: 450px;
    height: 100vh;
    object-fit: cover;
    padding: 0px;
    filter: grayscale(30%);
  }
  .col-2{
    padding-top: 20px;
    background: url(./images/My\ project\ \(15\).png);
    background-position:  0%;
    background-size: 73vw auto;
    background-repeat: no-repeat;
  }
  .col-2 .logo img{
    width: 120px;
    height: 90px;
    object-fit: contain;
    
  }
  .col-2 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    margin: 0px;
  }
  .col-2 h2{
    margin: 5px 0px;

    color: #84795d;
    font-size:70px;
    font-weight: 400;
    font-family: sail;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 0.8;
  }
  .col-2 p{
    margin-top: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 160px;
  }
  .two-images{
    display: flex;
    align-items: center;
    padding-left: 60px;
  }
  .two-images .image1{
    align-items: center;
    width: 200px;
    height: 230px;
    margin-left: 30px; 
    border-radius: 10% 10%;
    object-fit: cover;
    border: 3px solid rgb(224, 224, 224);
  }
  .two-images .image1:hover{
    animation: img-hover 4s ease-in-out infinite;
  }
  .two-images .image2:hover{
    animation: img-hover 4s ease-in-out infinite;
  }
  @keyframes img-hover{
    0%{
      transform: translatey(0px);
    }
    50%{
      transform: translateY(-40px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  .two-images .image2{
    align-items: center;
    width: 200px;
    height: 230px;
    margin-top: 120px;
    margin-left: 40px; 
    border-radius: 10% 10%;
    filter: sepia(40%);
    object-fit: cover;
    border: 3px solid rgb(201, 199, 199);
  }
  /* hero section ends */

  .section-two,.section-three,.section-four,.section-five, .section-six,.about_collections{
    padding: 100px 0px !important;
    background: #fff6f2 !important;
    text-align: center !important;
  }

  /* section two starts */

    
    #sec-head{
      font-family: sail;
      font-size: 50px;
      font-weight:bold  ;
      margin: 10px;
      padding-bottom: 30px;
    }
    .section-two{
      background-image: linear-gradient(to bottom, #fdefea 0%, #fffcf9 100%) !important;
    }
    .s2{
      display: flex;
      justify-content: space-around;
    }
    .s2-col1,.s2-col2,.s2-col3{
      width: 33.33%;
      padding: 20px 20px;
      margin-top: 22px;
    }
    .s2-img .s2-image1,.s2-image2{
      object-fit: cover;
      overflow: hidden;
      width: 100%;
      height: 440px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 20px;
      border-radius: 5px;
    }

    .s2-col2{
      background: url(./images/banner21.jpg);
      background-attachment: fixed;
      background-size: auto;
      background-repeat:no-repeat;
      backdrop-filter:unsetF;
      margin:  42px 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
   .s2-content{
    color:rgb(59, 59, 59);
    background: #ffffff65;
    padding: 290px 20px;
    margin: 0px;
   } 
   .s2-content h2{
    font-family: sail;
    font-size: 36px;
   } 
   .s2-content p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;
    font-weight: 500;
   }
   .s2-abtus a{
    font-size: 18px;
    font-family: hind;
    color: #ffffff;
    background: #a79362;
    padding: 15px 20px;
    text-decoration: none;
    transition: 1s;
  }
  .s2-abtus a:hover{
    background: #ffd8a2;
    box-shadow: 0px 0px 20px 3px rgb(213 174 116 / 80%);
    color: #444;
   }
   
  /* section two ends */


  /* section three starts */

  .instagram-gallery{
    justify-content: center;
    display: flex;
   }
  .section-three{
    padding: 100px 0px;
    background: #fff;
    text-align: center;
  }
  .s3-gallery{
    display: flex;
    width: 100%;
    overflow-x: hidden;
  }
  .s3-gallery .s3-gal1{
  width: 33.33%;
  margin:  20px;}
  
  .instagram-gallery{
    justify-content: center;
    display: flex;
   }
  .s3-gallery .s3-gal2{
    width: 33.33%;
    margin:20px 10px;
  }
  .s3-gallery .s3-gal2 .s3-gal1-img{
    width:100%;
    
  }
  .s3-gallery .s3-gal1 .s3-gal1-img{
    width:100%;
    
  }
  .s3-gal1-img{
    box-shadow: 0 2px 4px, 0 0px 0px 0px, 0 1px 1px -1px, 0 1px 3px -2px, 0 0px 5px 2px, 0 24px 34px 5px;
    border-radius: 3%;
    color: rgb(239 239 239);
  }
  .s3sub-img1 img{
    box-shadow: 0 2px 4px, 0 0px 0px 0px, 0 1px 1px -1px, 0 1px 3px -2px, 0 0px 5px 2px, 0 24px 34px 5px;
    border-radius: 3%;
    color: rgb(239 239 239)
  }
  .s3sub-img1{
    display: flex;
    justify-content: space-around;
    }
  .s3sub-img1 img {
   
      width: 46%;
      height: 230px;
      object-fit: cover;
      margin: 20px 0px;
  }
  
  /* section three ends */

  /* section-four-starts */
  .section-four{
    width: 100%;
    background:  #fff9f7 !important;
  }
  .subproduct-section{
    margin: 30px 11.5px;
    justify-content: space-around;
      width: 20.33%;
  } 
  
  .product-page{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 60px 25px;
    flex-wrap: wrap;

  }
  .new-prod{
      position: absolute;
      left: 0;
      top: 0;
      background: #ff974e;
      font-family: Mulish;
      font-style: italic;
      text-transform: capitalize;
      color: #fff;
      padding: 4px 9px 4px 9px;
  }
  .p-image{
    position: relative;
    margin-bottom: -3px;
  }
  .p-image img{
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 1%;
  }
  .price{
    text-align: start;
    box-shadow: 0 4px 4px 0 rgba(121, 120, 120, 0.2), 0 3px 10px 0 rgba(136, 136, 136, 0.19);
    border-end-start-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(to right, #ffedd6 0%, #ffd9cc 100%);
    height: 190px;
    width: 100%;
  }
  .price .p-name{
    padding: 20px 12px;
  }
  .product-made{
    padding: 2px 0px;
    margin: 0px;
    font-family: Mulish;
    color: rgb(160, 160, 160);
    font-size: 14px;
  }
  .product-name{
    padding: 4px 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .rate{
    display: flex;
    padding: 4px 0px 14px 0px;
  }
  .off{
    color: #0c8f08;
    font-size: 12px;
    font-family:Open Sans;
  }
  .section-four .og-rate{
    color: rgb(65, 65, 65);
    font-weight: 600;
  }
  .order button{
    
      background: #998656;
      padding: 9px 50px;
      border: 0;
      border-radius: 14px;
      box-shadow: 1px 1px 1px 1px #615435;
      cursor: pointer;
  }
  .order button:hover{
    background: #96814c;
    transition: 1s;
  }
  
  .order{
    padding: 10px 0px;
    text-align: center;
  }

    @keyframes popup {
      0%{
        opacity: 0.1;
      }
      100%{
        opacity: 1;
      }
    }
    .old{
      display: none;
    }

  /* section four ends */

  /* section five start */
  .section-five{
    padding-top: 40px;
    padding-bottom: 100px;
    margin: 0px;
    background-size: contain;
    image-resolution: unset;
    padding: 100px 0px;
    background: url(./images/follow\ us.png) !important;
    

  }
  .insta-img img{
    width: 100px;
    padding-top: 0px;
    text-align: center;
  }
  .follow-insta h2{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .animate-charcter
 {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 190px;
 }

 @keyframes textclip {
  to {
    background-position: 200% center;
  }
 }
  .follow-insta p{
    font-size: 20px;
    font-family: sail;
  }
  /* section five start */

  /* section testimonal starts */

  .section-six{
    padding:190px 100px ;
    background: #fff9f7 !important;
  }
  .myslides {
    display: none;
  }
  .comma-one{
    position: absolute;
    left: 140px;
    font-size: 130px;
    color:#ffad92;
  }
  .comma-two{
    position: absolute;
    right: 140px;
    font-size: 130px;
    color:#ff7243;
  }
  .myslides{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    box-shadow: 0px 0px 18px 3px #d7d7d7;
   text-align: center;
   padding: 15px 30px 10px 30px;
   border-radius: 30px;
   margin: 30px 120px;
  }
  .testimonial{
    padding: 0px 0px 40px 0px;
  }
  .testimonial h2{
    font-family: sail;
    color: rgb(75, 42, 12);
    font-size: 35px;
    margin: 10px 0px;
  }
  .testimonial p{
    padding: 0px 120px;
    color: #333;
    font-weight: 600;
  }
  .avatar-testimonial{
    width: 100px !important;
    border-radius: 50%;
    padding: 0px;
  }
  .star::after{
    content: "\e047";
  }
  .myslides img{
    width: 40px;
    padding: 15px 0px;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(255, 187, 190);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #ff4f4f;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* section testimonal ends */

  /* POPUP STARTED */
  #popup{
    position: fixed;
    min-height: 100vh;
    display: none;
    width: 100%;
    justify-content: center;
    top: 0px;
    text-align: center;
    /* left: 50%; */
    overflow: hidden;
    background: #000000ad;
    transition: 2s;
    z-index: 1999999;
    animation: popup 0.3s ease-in;
  }
  .confirmation{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    padding: 100px 100px;
    margin: 150px 200px 200px 200px;
    border-radius: 20px;
  }
  .con-yesno{
    padding: 15px 0px;
    display: flex;
    justify-content: center;
  }
  .con-yesno .yesno {
    margin: 0px 8px;
    padding: 10px 10px;
    background-image: linear-gradient(to right, #fff3e2 0%, #ffe4db 100%);
    border: 2px solid #fcc1ad;
}
.yesno a {
  padding: 9px 30px;
  padding-top: 0px;
  text-decoration: none;
  color: rgb(77, 77, 77);
  font-family: mulish;
  font-weight: 600;
}
  /* POPUP ENDED */

  /* footer */
  footer{
    width: 100%;
    box-shadow: 0px 14px 21px #000;
    padding: 50px 0px 30px 0px;
    background:#ffe6a83b;
    color: rgb(56, 56, 56);
    font-family: hind;
  }
  .f1-col{
    width: 33.33%;
  }
  .f1-col p{
    font-family: sail;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    text-justify: none;
    padding: 4px 20px;
    
  }

  .footer-sec{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }

  .footer-logo img{
    width: 100px;
  }

  .social-media-footer {
    display: flex;
    list-style: none;
    text-align: left;
    justify-content: center;
  }

  .social-media-footer li{
   padding: 10px;
   align-items: center;
   text-align: center;
  }

  .social-media-footer i{
    font-size: 22px;
    padding-right: 10px;
    font-weight: 700;
  }

  .social-media-foo  ter i a{
    text-decoration: none;
  }

  .contact li{
    list-style: none !important;
    line-height: 1.5;
    text-align: start;
    padding-left: 100px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* footer */



  /* SHOP PAGE START */

  .container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }
  
  /* SHOP PAGE ENDS */



/*ABOUT US PAGE*/

  /* About us page :start */

  .about_container {
    width: 100%;
    display: flex;
    justify-content:baseline;
    padding: 40px 0px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .img-abtgallery img:hover{
    transform: scale(1.1);
    transition: 1s;
    overflow: hidden;
  }
  .img-abtgallery{
    overflow: hidden;
    position: relative;
    width: 25%;
  }
  .image {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s ease;
    background-image: linear-gradient(to top, #ffe8c7 20%, #fcb69f 100%);
  }
  
  .img-abtgallery:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-family: sail;
    font-size: 30px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /* about us page ends */

  /*section aboutus-two*/

  .abt-section1{
    display: flex;
    padding: 100px;
  }
  .section1-left img{
    width: 50%;
    
  }
  .section1-left img{
    margin: 0px 100px 0px 0px;
    width: 550px;
    height: 550px;
    object-fit: cover;
    box-shadow: 2px 2px 2px #a3a3a3;
  }
  .section1-right-content h2{
    font-size: 50px;
    font-family: sail;
  }
  .section1-right-content p{
    font-size: 24px;
    font-family: hind;
    color: #8d8d8d;
    text-align: justify;
     text-justify: none;
     padding-bottom: 40px;
  }
  .section1-right-content a{
    font-size: 18px;
    font-family: hind;
    color: #ffffff;
    background: #444;
    padding: 15px 20px;
    text-decoration: none;
    transition: 1s;
  }
  .section1-right-content a:hover{
    background: #ffd8a2;
    box-shadow: 0px 0px 20px 3px rgb(213 174 116 / 80%);
    color: #444;
  }
  /*section aboutus-two*/
  
  /* counter aboutus start */

  .aboutus-counter{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    padding: 100px 40px;
    display: flex;
    justify-content: space-evenly;
    border:2px solid #e0d6d657;
    
  }
  .sub-counter{
    text-align: center;
    align-items: center;
  }
  .sub-counter h3{
    font-size: 30px;
    font-family: sail;
    color: rgb(75, 42, 12);
    text-shadow: 1px 1px rgb(105, 104, 104);
  }
  .sub-counter .counter{
    font-size: 42px;
    font-weight: 600;
    color: #333;
    text-shadow: 1px 1px rgb(105, 104, 104);
  }
  .sub-counter .plus{
    font-size: 42px;
    font-family: sail;  
    font-weight: 600;
    color: #333;
    text-shadow: 1px 1px rgb(105, 104, 104);
  }

  /* counter about us ends */

  /*ABOUT US PAGE*/